body{
    background-color: antiquewhite;
}
#header{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    border-bottom: 3px solid black;
}
#header h1{
    text-align: center;
}

#header h1 a{
    text-decoration: none;
}

#mid{
    border-right: 2px solid black;
    border-left: 2px solid black;
}